/*navigation menu*/
.navbar {
	display: flex;
	font-size: larger;
	background-color: #333;
	color: #fff;
}
.nav-links {
	list-style-type: none;
	display: flex;
	margin: 0;
}
.nav-links li {
	margin-right: 1rem;
}
.nav-links a {
	color: #fff;
	text-decoration: none;
}

.error {
	color: red;
	font-style: italic;
}

.help {
	text-align: center;
	justify-content: center;
}

.titles {
	font-weight: bold;
	text-decoration: underline;
}

div {
	font-family: Arial, Helvetica, sans-serif;
	background-color: whitesmoke;
	justify-content: center;
	text-align: center;
}
